* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, "Microsoft JhengHei", "PingFang TC",
    sans-serif;
}

:root {
  --color-white: #ffffff;
  --color-primary: #8dbcc7;
  --color-light: #c4e1e6;
  --color-dark: #333333;
  --color-white-bg: #fdfdfd;
  --box-shadow: rgba(0, 0, 0, 0.3);
  --transition: 0.4s ease;
}

.w1920{
  max-width:1920px;
  margin:0 auto;
}

body {
  background-color: var(--color-white-bg);
  color: var(--color-dark);
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  width: 90%;
  & > h2 {
    color: var(--color-primary);
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  p {
    line-height: 1.6;
  }
}

nav {
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 11;
  .nav-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .logo h3 {
      font-size: 1.7rem;
      color: var(--color-primary);
      font-weight: 600;
    }
    .nav-link {
      display: flex;
      align-items: center;
      gap: 2.7rem;
      li {
        a {
          color: var(--color-white);
          font-weight: 500;
          padding: 0.2rem 0.1rem;
          position: relative;
        }
        .active {
          border-bottom: 0.2rem solid var(--color-white);
        }
      }
    }
    .mobile-menu {
      display: none;
      background-color: transparent;
    }
  }
}

.nav-scroll {
  background: var(--color-primary);
  box-shadow: 0 0.5rem 0.5rem var(--box-shadow);
  .logo h3 {
    color: var(--color-white) !important;
  }
  .mobile-menu {
    color: var(--color-white) !important;
  }
}

#Home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  .header-container {
    display: grid;
    grid-template-columns: 44% 56%;
    .header-left {
      margin-top: 5rem;
      position: relative;
      z-index: 1;
      h3 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 140%;
      }
      h1 {
        font-size: 4.6rem;
        font-weight: 700;
        margin-bottom: 0.4rem;
      }
    }
    .profession-content {
      position: absolute;
      width: 840px;
      height: 100%;
      transform: translateY(-50%);
      top: 50%;
      right: 0;
      pointer-events: none;
      overflow: hidden;
      .profession-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: circleAnimation 10s ease-out infinite;
        .profession {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: var(--color-primary);
          transform: rotate(calc(360deg / 4 * var(--r)));
          transform-origin: 420px;
          left: 0;
          gap: 0.2rem;
          background: var(--color-white-bg);
          padding: 12px 0;
          &:nth-child(1) i {
            margin-left: 10px;
          }
          &:nth-child(2) i {
            margin-left: 25px;
          }
          &:nth-child(3) i {
            margin-left: 20px;
          }

          &:nth-child(4) i {
            margin-left: 24px;
          }
          i {
            font-size: 2rem;
          }
          h3 {
            font-size: 2rem;
            line-height: 120%;
            font-weight: 500;
          }
        }
        .circle {
          width: 500px;
          height: 500px;
          border-radius: 50%;
          border: 3px solid var(--color-primary);
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 50vh solid var(--color-primary);
        border-bottom: 50vh solid var(--color-primary);
        border-left: 420px solid transparent;
        border-right: 420px solid var(--color-primary);
      }
    }
    .header-img img {
      position: absolute;
      bottom: 0;
      right: 6rem;
      width: 27rem;
    }
  }
}

@keyframes circleAnimation {
  0%,
  20% {
    transform: rotate(0deg);
  }
  25%,
  45% {
    transform: rotate(-90deg);
  }
  50%,
  70% {
    transform: rotate(-180deg);
  }
  75%,
  95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#About {
  padding-top: 120px;
  margin-bottom: 120px;
  .about-container {
    display: grid;
    grid-template-columns: 36% 56%;
    gap: 10%;
    align-items: center;
    .about-left {
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
      .about-img-bg {
        background: var(--color-primary);
        width: 26rem;
        height: 26rem;
        position: relative;
        border-radius: 1rem;
      }
      .about-img {
        position: absolute;
        top: 0;
        width: 26rem;
        height: 26rem;
        overflow: hidden;
        transform: rotate(8deg);
        border-radius: 1rem;
        transition: var(--transition);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      &:hover .about-img {
        transform: rotate(0deg);
      }
    }
    .about-right {
      h2 {
        color: var(--color-primary);
        font-size: 3.5rem;
      }
      h3 {
        margin: 2rem 0;
        font-size: 1.5rem;
      }
    }
  }
}

#Personality {
  padding-top: 4rem;
  background-color: var(--color-light);
  h2 {
    color: var(--color-white);
  }
  .swiper {
    padding: 0 10px;
    padding-bottom: 4.5rem;
    .personality-cards {
      .card {
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem 3rem;
        border-radius: 0.4rem;
        background-color: var(--color-white);
        box-shadow: 0 0.5rem 0.9rem var(--box-shadow);
        border-top: 0.5rem solid #a4ccd9;
        transition: var(--transition);
        height: auto;
        &:hover {
          box-shadow: 0 0.2rem 0.4rem var(--box-shadow);
          border-color: var(--color-primary);
        }
        i {
          font-size: 3.4rem;
          margin-bottom: 2rem;
        }
        h3 {
          font-size: 1.5rem;
          margin-bottom: 2rem;
          color: var(--color-primary);
        }
      }
    }
    .swiper-pagination {
      top: auto;
      bottom: 1.5rem;
    }
    .swiper-pagination-bullet {
      background-color: var(--color-white);
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
      background-color: var(--color-primary);
    }
  }
}

#Skills {
  background-image: url('./images/skill-bg.png');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  padding:4rem 0;
  margin-bottom: 5rem;
  .skill-container {
    .item {
      border-bottom: 1px solid #cccccc;
      padding-top: 24px;
      padding-bottom: 24px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      &:last-of-type{
        border-bottom: none;
      }
    }
    .left {
      width: 30%;
      h3 {
        color: var(--color-primary);
        font-size: 24px;
        font-weight: 700;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
      }
    }
    .right {
      width: 70%;
      line-height:1.6;
    }
  }
}

#Projects {
  margin-bottom: 5rem;
  h2 a {
    color: var(--color-primary);
    &:hover {
      color: var(--color-light);
      transition: var(--transition);
    }
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    align-items: center;
    .project {
      position: relative;
      display: flex;
      height: 22rem;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0 0 1rem var(--box-shadow);
      &:hover {
        .project-shadow {
          bottom: 0;
        }
        img {
          transform: scale(1.2);
        }
      }
      img {
        width: 100%;
        transition: var(--transition);
      }
      .project-shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
          rgba(0, 0, 0, 0.3) 60%,
          var(--color-primary)
        );
        padding: 0 4rem;
        gap: 1.2rem;
        h4 {
          font-size: 1.5rem;
          color: var(--color-white);
        }
        p {
          color: var(--color-white);
        }
        a i {
          font-size: 1.4rem;
          color: var(--color-white);
        }
      }
    }
  }
}


footer {
  padding: 1rem 0;
  background: var(--color-primary);
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: var(--color-white);
    .btn {
      background: var(--color-white);
      color: var(--color-primary);
      padding: 0.7rem 1.6rem;
    }
    a {
      color: var(--color-white);
    }
  }
}

@media (max-width: 1300px) {
  nav {
    background: var(--color-primary);
    .nav-container .logo h3 {
      color: var(--color-white);
    }
  }
  #Home .header-container {
    .profession-content {
      .profession-box {
        right: -10rem;
      }
      .overlay {
        right: -14rem;
      }
    }
    .header-img img {
      width: 23rem;
      right: 0;
    }
  }
}

@media (max-width: 1100px) {
  #Home .header-container {
    .profession-content {
      .profession-box {
        display: none;
      }
      .overlay {
        right: -17rem;
      }
    }
    .header-img img {
      width: 22rem;
    }
  }
}

@media (max-width: 991px) {
  nav {
    .nav-container {
      position: relative;
      align-items: center;
      .logo h3 {
        color: var(--color-primary);
      }
      .nav-link {
        flex-direction: column;
        gap: 0;
        position: fixed;
        right: 0;
        top: 5rem;
        width: 10rem;
        overflow: hidden;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
        background: var(--color-white-bg);
        display: none;
        padding: 1rem 0;
        li {
          width: 100%;
          height: 100%;
          text-align: center;
          a {
            display: inline-block;
            padding: 1rem 1rem;
            color: var(--color-primary);
            &:hover {
              border-bottom: 0.2rem solid var(--color-primary);
            }
          }
        }
      }
      .mobile-menu {
        display: inline-block;
        font-size: 1.5rem;
        color: var(--color-white);
      }
      .close {
        display: none;
      }
    }
  }
  #Home .header-container {
    .profession-content {
      .overlay {
        right: -24rem;
      }
    }
  }
  #About .about-container {
    grid-template-columns: 1fr;
    .about-right {
      text-align: center;
    }
  }
  #Projects .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  #Skills {
    .skill-container {
      .item {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.2rem !important;
    margin: 1rem auto !important;
  }
  h2 {
    font-size: 2.4rem !important;
  }
  nav {
    background: var(--color-primary);
    .nav-container {
      .logo h3 {
        color: var(--color-white);
      }
      .mobile-menu {
        color: var(--color-white);
      }
    }
  }
  #Home {
    min-height: auto;
    position: static;
    margin-top: 5rem;
    .header-container {
      grid-template-columns: 100% 0%;
      .header-left {
        text-align: center;
        margin-bottom: 4rem;
      }
      .profession-content {
        display: none;
      }
      .header-img img {
        display: none;
      }
    }
  }

  #About {
    padding-top: 0;
    .about-container {
      .about-left {
        margin: 0 auto;
        .about-img-bg {
          width: 25rem;
          height: 25rem;
        }
        .about-img {
          width: 25rem;
          height: 25rem;
        }
      }
      .about-right {
        text-align: center;
        h3 {
          font-size: 1.3rem !important;
        }
      }
    }
  }
  #Projects .projects {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  #Skills {
    .skill-container {
      .left {
        width: 40%;
      }
      .right {
        width: 60%;
      }
    }
  }
}

@media (max-width: 576px) {
  #About {
    .about-container {
      .about-left {
        .about-img-bg,
        .about-img {
          width: 20rem;
          height: 20rem;
        }
      }
    }
  }
  #Skills {
    .skill-container {
      .item {
        width: 80%;
        flex-direction: column;
        row-gap: 0.5rem;
      }
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
      }
    }
  }
}

@media (max-width: 375px) {
  #About {
    .about-container {
      .about-left {
        .about-img-bg,
        .about-img {
          width: 18rem;
          height: 18rem;
        }
      }
    }
  }
}
